body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #fff7f7;
  color: #333;
  padding: 0;
  line-height: 1.8;

}


header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff3f3;
  padding: 10px 40px;
  border-bottom: 1px solid #ddd;
  flex-wrap: wrap;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo {
  height: 50px;
  width: 50px;
  object-fit: contain;
}

.brand-name {
  color: #e63946;
  font-size: 22px;
  margin: 0;
  font-weight: 700;
}


.nav-links {
      display: flex;
      list-style: none;
      gap: 25px;
      align-items: center;
      flex-wrap: wrap;
    }

.nav-links a {
      text-decoration: none;
      color: black;
      font-weight: 500;
    }

.menu-icon {
  display: none;
  font-size: 28px;
  cursor: pointer;
}

@media (max-width: 768px) {
.nav-links {
    display: none;
    flex-direction: column;
    background: #fff;
    width: 100%;
    text-align: center;
    padding: 15px 0;
}

.nav-links.show {
    display: flex;
}

.menu-icon {
    display: block;
}
}

@media (max-width: 480px) {
  .brand-name {
    font-size: 18px;
  }

.btn {
    padding: 8px 20px;
    font-size: 14px;
  }
  
}


.about-container {
      max-width: 800px;
      margin: 60px auto;
      background: #ffffff;
      border-radius: 20px;
      box-shadow: 0 4px 12px rgba(0,0,0,0.1);
      padding: 40px;
}

h1 {
      text-align: center;
      color: #d97706;
      font-size: 2.5em;
      margin-bottom: 20px;
}

p {
      font-size: 1.1em;
      margin-bottom: 15px;
}

strong {
      color: #b45309;
}

em {
      display: block;
      text-align: center;
      color: #d97706;
      font-style: italic;
      margin-top: 20px;
      font-weight: bold;
}

.footer {
  background-color: #fff6f2;
  color: #5a372e;
  padding: 50px 20px 20px;
  font-family: 'Poppins', sans-serif;
  border-top: 2px solid #f3b47b;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
  max-width: 1100px;
  margin: auto;
}

.footer-about,
.footer-contact {
  flex: 1 1 250px;
}

.footer-about h2 {
  color: #e67b3f;
  margin-bottom: 10px;
}


.footer-contact h3 {
  color: #e67b3f;
  margin-bottom: 12px;
}



.footer-contact a {
  color: #5a372e;
  text-decoration: none;
}

.social-icons {
  margin-top: 10px;
}

.social-icons img {
  width: 25px;
  margin-right: 10px;
  transition: transform 0.3s ease;
}

.social-icons img:hover {
  transform: scale(1.1);
}

.footer-bottom {
  text-align: center;
  margin-top: 30px;
  border-top: 1px solid #f3b47b;
  padding-top: 15px;
  font-size: 14px;
}

@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    text-align: center;
  }
  .social-icons img {
    margin: 0 8px;
  }
}