* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #f9d9d9;
  color: #111;
  line-height: 1.6;
}


header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 10px 5%;
  border-bottom: 2px solid #ff8ba0;
}


nav {
  display: flex;
  align-items: center;
  gap: 20px;
}

nav a {
  text-decoration: none;
  color: #111;
  font-weight: 500;
}

.nav-links {
      display: flex;
      list-style: none;
      gap: 25px;
      align-items: center;
      flex-wrap: wrap;
    }

    .nav-links a {
      text-decoration: none;
      color: black;
      font-weight: 500;
    }


.recipe {
  max-width: 1000px;
  margin: 2rem auto;
  padding: 0 1rem;
}

.recipe h2 {
  text-align: left;
  color: #111;
  text-decoration: underline;
  margin-bottom: 1rem;
}

.recipe-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.ingredients {
  flex: 1 1 250px;
}

.ingredients h3 {
  margin-bottom: 0.5rem;
}

.ingredients ul {
  padding-left: 20px;
}

.recipe-image {
  flex: 1 ;
  display: flex;
  justify-content: center;
  align-items: center;
}

.recipe-image img {
  width: 100%;
  max-width: 350px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.description {
  margin: 1.5rem 0;
  font-size: 1.1rem;
}


.recipe-info {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-bottom: 1.5rem;
}

.difficulty {
  background-color: #ff8ba0;
  color: white;
  padding: 6px 15px;
  border-radius: 5px;
  font-weight: bold;
}


.instructions h3 {
  margin-bottom: 0.5rem;
}

.instructions ol {
  margin-left: 20px;
}

.instructions li {
  margin-bottom: 0.6rem;
  font-size: 1rem;
}


@media (max-width: 768px) {
  header {
    flex-direction: column;
    text-align: center;
  }

  nav {
    flex-wrap: wrap;
    justify-content: center;
  }

  .recipe-container {
    flex-direction: column;
    align-items: center;
  }

  .recipe-image img {
    max-width: 100%;
  }
}