*{
  padding:0px;
  margin:0px;
}
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #fff7f7;
  color: #333;
}


header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff3f3;
  padding: 10px 40px;
  border-bottom: 1px solid #ddd;
  flex-wrap: wrap;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo {
  height: 50px;
  width: 50px;
  object-fit: contain;
}

.brand-name {
  color: #e63946;
  font-size: 22px;
  margin: 0;
  font-weight: 700;
}

.nav-links {
  display: flex;
  text-decoration: none;
  list-style: none;
  gap: 25px;
  align-items: center;
  flex-wrap: wrap;
  
}

.nav-links a {
  text-decoration: none;
  color: #0b0000;
  padding: 10px 18px;
  border-radius: 3px;
  font-weight: 600;
  transition: 0.3s;
}



.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 50px 60px;
  gap: 40px;
}

.hero-text {
  flex: 1 1 45%;
}

.hero-text h1 {
  font-size: 48px;
  color: #e63946;
  line-height: 1.2;
}

.hero-text span {
  color: #e63946;
}

.hero-text p {
  font-size: 17px;
  line-height: 1.7;
  color: #111;
  margin-top: 15px;
  max-width: 500px;
}

.buttons {
  margin: 20px 0;
}

.btn {
  background: #ddd;
  color: #000;
  padding: 10px 25px;
  border-radius: 8px;
  font-weight: 600;
  text-decoration: none;
  margin-right: 10px;
  display: inline-block;
  transition: 0.3s;
}

.btn:hover {
  background: #e63946;
  color: #fff;
}

.hero-image {
  flex: 1 1 45%;
  text-align: center;
}

.hero-image img {
  width: 100%;
  max-width: 400px;
  border-radius: 10px;
}

/* RESPONSIVE */
@media (max-width: 992px) {
  .hero {
    padding: 40px 20px;
  }
  .hero-text h1 {
    font-size: 38px;
  }
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    background: #fff;
    width: 100%;
    text-align: center;
    padding: 15px 0;
  }

  .nav-links.show {
    display: flex;
  }

  .menu-icon {
    display: block;
  }

  .hero {
    flex-direction: column;
    text-align: center;
  }

  .hero-text h1 {
    font-size: 34px;
  }

  .hero-image img {
    max-width: 300px;
  }
}

@media (max-width: 480px) {
  .brand-name {
    font-size: 18px;
  }

  .btn {
    padding: 8px 20px;
    font-size: 14px;
  }

  .hero-text h1 {
    font-size: 28px;
  }

  .hero-text p {
    font-size: 15px;
  }
}